@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500,800);
@import url(http://fonts.googleapis.com/css?family=Gudea:400,700);
/*----- RESET -----*/
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var {
    font-family: 'Gudea', sans-serif;
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}
ol,ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table,table td { 
    padding:0;
    border:none;
    border-collapse:collapse;
}
img {
    vertical-align:top; 
}
embed { 
    vertical-align:top;
}
* { border:none}
input,textarea { outline:none !important}
/*Getting the new tags to behave*/
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/*----- GLOBAL STYLES -----*/
h1 {    /*Used in Content*/
    font-family: 'Alegreya Sans SC', 'Gudea', sans-serif;
    font-size:2.2em;
    margin:.5em .7em .67em .7em;
    font-weight:800;
    color:#d38b37;
}
h2 {
    font-family: 'Gudea', sans-serif;
    font-size:1.5em;
    color:#FFFFFF;
    margin:1em 0em 1em 1em;
}
h3 {    /*Used in Sidebars*/
    font-family: 'Gudea', sans-serif;
    font-size:1.5em;
    margin:1em 1em 1.3em 1em;
    color:#FFF;
    letter-spacing:2px;
    font-weight:700;
}
h4 {
    font-family: 'Gudea', sans-serif;
    font-size:1.3em;
    margin:1em 1em .5em 1.2em;
    font-weight:700;
    color:#444;
}
header {
    clear:both;
}
iframe {
    margin:1.5em;
}
footer {
    text-align:center;
    clear:both;
    padding: 2em;
    color:#E0D78F;
}

/*----- CONTAINERS -----*/
div#background {
    margin-top:-1em;
    position:fixed;
    background-image:url(../images/background.jpg);
    background-size:cover;
    background-color:#d38b37;
    width:100%;
    min-width:1200px;
    min-height:1200px;
}
div#mainContainer {
    background:#d38b37;
    position:relative;
    width:1000px;
    padding:0em;
    margin:1em auto 1em auto;
    box-shadow:0px 0px 20px 1px #555555;
    opacity:.98;
}
/*----- NAVIGATION -----*/
div#logo {
    width:15%;
    float:left;
    text-align:center;
    background:#FFFFFF;
    padding-bottom:20px;
    margin-bottom:-20px;
}
div#logo img {
    width:100%;
}
div#menuDiv {
    width:85%;
    float:right;
}
div#menuDiv ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}
div#menuDiv li {
	display:inline-block;
	float: left;
}
div#menuDiv li a {
	display:block;
    padding-top:50px;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size:22px;
    font-weight:500;
    color:#FFFFFF;
	background: #d38b37;
	text-decoration: none;
}
div#menuDiv li:hover a {
	background: #FFF;
    color: #d38b37;
}
div#menuDiv li:hover ul a {
	background: #fff;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}
div#menuDiv li:hover ul a:hover {
	background: #EEE;
	color: #d38b37;
}
li ul {
	display: none;
}
div#menuDiv li ul li {
	display: block;
	float: none;
}
div#menuDiv li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}
div#menuDiv ul li a:hover + .subMenu, .subMenu:hover {
	display: block;
}
.show-menu {
	font-family: 'Alegreya Sans SC', sans-serif;
    font-size:22px;
	text-decoration: none;
	color: #fff;
	background: #d38b37;
	text-align: center;
	padding: 3.1vw 0;
	display: none;
}
div#menuDiv input[type=checkbox]{
    display: none;
}
div#menuDiv input[type=checkbox]:checked ~ #navMenu{
    display: block;
}

/*----- BANNER -----*/
div#banner {
    background-color:#000000;
    display:table;
    width:100%;
    float:left;
    overflow:hidden;
    clear:both;
}
div#banner div p {
    margin:1.5em 1.5em;
    color:#FFFFFF;
}
div#banner div img {
    width:100%;
}
div#banner .leftBanner {
    width:25%;
    float:left;
    background-color:#5e6468;
    padding-bottom:1000px;
    margin-bottom:-1000px;
}
div#banner .leftBanner p.readMore a {
    background-color:#424649;
}
div#banner .centerLeftBanner {
    width:25%;
    float:left;
    background-color:#658645;
    padding-bottom:1000px;
    margin-bottom:-1000px;
}
div#banner .centerLeftBanner p.readMore a {
    background-color:#475e30;
}
div#banner .centerRightBanner {
    width:25%;
    float:left;
    background-color:#ffc001;
    padding-bottom:1000px;
    margin-bottom:-1000px;
}
div#banner .centerRightBanner p.readMore a {
    background-color:#b38601;
}
div#banner .rightBanner {
    width:25%;
    float:right;
    background-color:#91b4e7;
    padding-bottom:1000px;
    margin-bottom:-1000px;
}
div#banner .rightBanner p.readMore a {
    background-color:#667ea2;
}
div#banner img {
    width:100%;
}
div#banner img {
    width:100%;
}
p.readMore a {
    text-decoration:none;
    padding:.5em;
    background-color:#5e6468;
    color:#FFF;
}
p.readMore a:hover {
    color:#c38d4f;
}

/*----- CONTENT -----*/
div#content {
    background-color:#FFFFFF;
    clear:both;
    overflow:hidden;
}
h1:before { 
  display: block; 
  content: " "; 
  margin-top: -260px; 
  height: 260px; 
  visibility: hidden; 
}
div#middleContent {
    width:50%;
    float:left;
}
div#middleContent p {
    margin:1em 1.5em;
    color:#444;
}
div#leftContent {
    width:75%;
    float:left;
}
div#leftContent p {
    margin:1em 1.5em;
    color:#444;
}
div#leftContent ul {
    list-style:square;
    margin:.5em 1em .5em 3em;
    color:#444;
}
div#leftContent a {
    text-decoration:none;
    color:#337004;
    font-weight:bold;
}
div#leftContent a:hover {
    color:#E0D78F;
}
div#rightContent {
    width:75%;
    float:right;
}
div#rightContent p {
    margin:1em 1.5em;
    color:#444;
}
div#rightContent ol {
    list-style:decimal;
    margin:.5em 1em .5em 3em;
    color:#444;
}
div#rightContent ul {
    list-style:square;
    margin:.5em 1em .5em 3em;
    color:#444;
}
div#rightContent a {
    text-decoration:none;
    color:#337004;
    font-weight:bold;
}
div#rightContent a:hover {
    color:#E0D78F;
}
div#fullContent {
    width:100%;
}
div#fullContent p {
    margin:1em 1.5em;
}
div#fullContent ul {
    list-style:square;
    margin:.5em 1em .5em 3em;
    color:#444;
}
div#fullContent ul li a {
    text-decoration:none;
    color:#337004;
    font-weight:bold;
}
div#fullContentLeft {
    width:50%;
    float:left;
}
div#fullContentRight {
    width:50%;
    float:right;
}
p.readMoreContent a {
    text-decoration:none;
    padding:.5em;
    background-color:#d38b37;
    color:#E0D78F;
}
p.readMoreContent a:hover {
    color:#337004;
}
.google_map{
    margin:0em 2em 2em 2em;
    float:right;
    width: 400px;
    height: 300px;
    background: #d38b37;
	border:6px solid #d38b37;
}
.google_map iframe {
    margin:0em;
}
div.sideBar {
    background: -webkit-linear-gradient(225deg, #d38b37, #EBCBA5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(225deg, #d38b37, #EBCBA5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(225deg, #d38b37, #EBCBA5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(225deg, #d38b37, #EBCBA5); /* Standard syntax (must be last) */
    width:25%;
    padding-bottom:4000px;
    margin-bottom:-4000px;
}
div.sideBar p {
    color:#FFF;
    margin:.5em 1.5em .5em 1.5em;
}
div.sideBar ul {
    list-style:square;
    margin:.5em 1em .5em 3em;
    color:#FFF;
}
div.sideBar ol {
    position:static;
    list-style:decimal;
    margin:.5em 1em .5em 3em;
    color:#FFF;
}
div.sideBar ol li {
    margin-bottom:1em;
}
div.sideBar a {
    text-decoration:none;
    color:#E0D78F;
}
div.sideBar a:hover {
    color:#337004;
}
.images img {
    margin:.65em .5em .5em 1.5em;
    border:6px solid #d38b37;
}
/*----- FOOTER -----*/
div#slogan p {
    margin:0em 0em 1.5em 0em;
    font-weight:700;
    font-size:1.2em;
    font-style:italic;
}
div#slogan p img {
    margin-top:-.75em;
}
div#socialButtons {
    margin:0em auto 2em auto;
}
div#socialButtons div {
    text-align:center;
    float:left;
    width:20%;
}
div.host {
    padding-bottom:0em;
    margin-bottom:0em;
}
div.host p {
    text-align:right;
    font-size:.6em;
    margin-bottom:0em;
    padding-bottom:0em;
}
div.host a {
    text-decoration:none;
    color:#E0D78F;
}
div.host a:hover {
    color:#337004;
}
div#pinterest {
    margin-top:1em;
    margin-bottom:1em;
}
/*----- FORMS -----*/
.form-label{
    width:150px !important;
}
.form-label-left{
    width:150px !important;
}
.form-line{
    padding-top:12px;
    padding-bottom:12px;
}
.form-label-right{
    width:150px !important;
}
.form-all{
    width:650px;
    color:#555 !important;
    font-family:'Gudea', sans-serif;
    font-size:14px;
}

/*----- ALIGNMENT AND CLEARS -----*/
.left {
    float:left;
}
.right {
    float:right;
}
.textLeft {
    text-align:left;
}
.textRight {
    text-align:right;
}
.clear {
    clear:both;
}

/*----- RESPONSIVE -----*/
@media screen and (max-width: 600px) {
    /*----- NAVIGATION -----*/
    div#menuDiv ul {
        position:static;
    }
	ul {
		display: none;
	}
    div#menuDiv li a {
        padding-top:0;
    }
	div#menuDiv ul li, li a {
		width: 100%;
	}
	.show-menu {
		display:block;
	}
    /*----- BANNER -----*/
    div#banner div img {
        width:60%;
        margin-top:10px;
        margin-left:20%;
    }
    div#banner .leftBanner, div#banner .centerLeftBanner, div#banner .centerRightBanner, div#banner .rightBanner {
        width:100%;
    }
    /*----- CONTENT -----*/
    div#mainContainer {
        width:100%;
    }
    div#middleContent, div#leftContent, div#rightContent, div#fullContentLeft, div#fullContentRight, div.sideBar {
        width:100%;
    }
    .google_map {
        margin:0 0 0 5%;
        width:90%;
        height:50vw;
        float:left;
    }
    .google_map iframe {
        width:100%;
        height:100%;
    }
    /*----- FOOTER -----*/
    div#socialButtons div {
        width:50%;
    }
    div#yelp {
        width:100%;
        margin:1em 2em;
    }
}